.App{
    width:100%;
    box-sizing:border-box;
    padding:0;
    margin:0;
    height:98vh;
}

body{
    background:#51168C;
    padding:0;
}

/* Priority css */
.important{
    background:yellow !important;
}

.critical{
    background:red;
}

.normal{
    background:blue
}

.low{
    background:green;
}

/* Status CSS */

.done{
    background:green;
}

.inprogress{
    background:yellow
}

.needs-done{
    background:red;
}

.selected{
    border:1px solid black;
}

.board-content{
    display:flex;
    flex-direction: row;
}


.task-board{
    width:90%;
    height:90vh;
    background:rgb(175, 175, 175);
}

.task-input{
    border:none;
    height: 50px;
    width:100%;
}

/* 
    DASHBOARD
*/

.dashboard{
    width:100%;
    display:flex;
    box-sizing: border-box;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.user-boards{
    display:flex;
    justify-content: center;
    width:100%;
    box-sizing: border-box;
    padding:20px;
}

/* Side menu CSS */

.side-menu{
    width:10%;
    box-sizing: border-box;
    padding:10px;
    height:90vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    background:linear-gradient(rgba(248, 248, 248, 0.644), rgba(0, 0, 0, 0.582)), url("https://images.pexels.com/photos/544268/pexels-photo-544268.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}

.side-menu .side-menu-header-container{
    display:flex;
    align-items: center;
    flex-direction:column;
}

.side-menu .side-menu-header{
    border-bottom:1px solid black;
    margin:0;
}

.side-menu .side-menu-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    max-height:50vh;
}

.side-menu .side-menu-links a{
    color: black;
    text-decoration: none;
    width:100%;
    border:1px solid white;
    box-sizing: border-box;
    padding:2px;
    margin-bottom:5px;
    border-radius:5px;
    background:rgba(248, 248, 248, 0.521);
    text-align: center;
}

.side-menu .side-menu-member{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    border:1px solid white;
    box-sizing: border-box;
    padding:2px;
    margin-bottom:5px;
    border-radius:5px;
    background:rgba(248, 248, 248, 0.521)
}

.purchase-options{
    display:flex;
    flex-direction: row;
}

/* Board Room Css */
.board-room{
    width:90%;
    height:90vh;
    box-sizing: border-box;
    padding:20px;
    background:#51168C;
}

.board-room .chat-box{
    border:1px solid black;
    height:90%;
    background:rgb(196, 195, 195);
    background:rgb(175, 175, 175);
    box-sizing: border-box;
    padding:20px 2%;
    overflow-y:scroll;
    border-radius:5px;
}

/* hides the scrollbar in chatbox */
.board-room ::-webkit-scrollbar{
    display:none;
}

.board-room .chat-message{
    border:1px solid black;
    margin-bottom:5px;
    width:60%;
    border-radius:5px;
    background:whitesmoke;
    max-height: 100vh;
}

.board-room .users-message{
    border-left:2px solid orange;
}

.board-room .chat-message-date{
    width:20%;
    text-align: right;
}

.board-room .input-field{
    width:100%;
    margin-top:10px;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    /* border-radius: 10px; */
}

.board-room .input-field .input-field-text-box{
    background:rgb(175, 175, 175);
    border-radius: 10px;
}