.App{
    width:100%;
    box-sizing:border-box;
}

/* Priority css */
.important{
    background:yellow !important;
}

.critical{
    background:red;
}

.normal{
    background:blue
}

.low{
    background:green;
}

/* Status CSS */

.done{
    background:green;
}

.inprogress{
    background:yellow
}

.needs-done{
    background:red;
}

.selected{
    border:1px solid black;
}

.board-content{
    display:flex;
    flex-direction: row;
}

.side-menu{
    width:10%;
    padding:10px;
    border-right: 1px solid black;
    height:50vh;
}

.task-board{
    width:89%;
    height:100vh;
}

.task-input{
    border:none;
    height: 50px;
    width:100%;
}

/* 
    DASHBOARD
*/

.dashboard{
    width:100%;
    display:flex;
    box-sizing: border-box;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.user-boards{
    display:flex;
    justify-content: center;
    width:100%;
    box-sizing: border-box;
    padding:20px;
}

/* Board Room Css */
.board-room{
    width:80%;
    height:90vh;
    box-sizing: border-box;
    padding:20px;
}

.board-room .chat-box{
    border:1px solid black;
    height:80%;
    background:rgb(196, 195, 195);
    box-sizing: border-box;
    padding:20px 2%;
    overflow-y:scroll;
}

.board-room .chat-message{
    border:1px solid black;
    margin-bottom:5px;
    width:60%;
    border-radius:5px;
    background:whitesmoke;
    max-height: 100vh;
}

.board-room .users-message{
    border-left:2px solid orange;
}

.board-room .chat-message-date{
    width:20%;
    text-align: right;
}

.board-room .input-field{
    width:100%;
    margin-top:50px;
    display:flex;
    align-items: center;
}

.board-room .input-field button{
    width:9%;
    height:50px;
    background:rgb(96, 96, 252);
    border-radius:10px;
}