.App{
    width:100%;
    box-sizing:border-box;
}

/* Priority css */
.important{
    background:yellow !important;
}

.critical{
    background:red;
}

.normal{
    background:blue
}

.low{
    background:green;
}

/* Status CSS */

.done{
    background:green;
}

.inprogress{
    background:yellow
}

.needs-done{
    background:red;
}

.selected{
    border:1px solid black;
}

.board-content{
    display:flex;
    flex-direction: row;
}

.side-menu{
    width:10%;
    padding:10px;
    border-right: 1px solid black;
    height:100vh;
}

.task-board{
    width:89%;
    height:100vh;
}

.task-input{
    border:none;
    height: 50px;
    width:100%;
}